<div class="catalog__details wrap">
  <button><a routerLink="/catalog">Назад</a></button>
  <div *ngIf="product" class="catalog__card-details">
    <h1 class="catalog__card-name">{{product.name}}</h1>
    <img class="catalog__card-image" src="../../../assets/{{product.image}}" alt=""/>
    <p class="catalog__card-price">{{product.price}}₽</p>
    <p class="catalog__card-description">{{product.description}}</p>
    <app-buy-button (buyProduct)="productService.addToCart(product.name, product.price)"></app-buy-button>
  </div>
</div>
