  <div class="modal">
    <div class="modal__window">
      <div class="modal__dialog">
        <div class="modal__content">
          <div (click)="deleteCart.emit()" data-close class="modal__close">&times;</div>
          <div class="modal__title">Корзина</div>
          <div class="modal__contain">
            <div *ngFor="let item of productItems" class="modal__item">
              <p class="modal-item__name">{{item.name}}</p>
              <button class="modal-item__button-increase">+</button>
              <p class="modal-item__quantity">{{item.quantity}}</p>
              <button class="modal-item__button-decrease">-</button>
              <p class="modal-item__price">{{item.price}}</p>
              <button class="modal-item__button-delete">x</button>
            </div>
          </div>
          <button data-close class="modal__btn">Купить</button>
        </div>
      </div>
    </div>
  </div>
