<main>
  <section class="merch wrap">
    <h1>Каталог товаров</h1>
    <div *ngFor="let card of products" class="merch__catalog">
        <div class="catalog__card">
          <p class="catalog__card-name">{{card.name}}</p>
          <img class="catalog__card-image" src="../../../assets/{{card.image}}" alt="" />
          <span class="catalog__card-price">{{card.price}}</span>
          <button (click)="productService.addToCart(card.name, card.price)" class="catalog__card-button">Купить</button>
        </div>
    </div>
  </section>
</main>
