main {
  background-color: white;
}

.merch h1 {
  margin: 30px 0;
  text-align: center;
  font-size: 24px;
}

.merch__catalog {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.catalog__card {
  flex-grow: 1;
  flex-basis: 30%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 10px;
  box-shadow: 0 18px 28px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 0;
  font-size: 18px;
  min-width: 220px;
}

.catalog__card span {
  margin: 10px 0;
}

.catalog__card p {
  font-size: 20px;
  margin-bottom: 20px;
}

.catalog__card img {
  height: auto;
  max-width: 100%;
}
.catalog__card-details a{
  color: black;
}
.catalog__card-details {
  color: black;
  transition: 0.3s;

}

.catalog__card-details:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.merch__form {
  text-align: center;
  margin-bottom: 10px;
}

.search {
  background-color: #c70303;
  color: white;
  border: none;
  border-radius: 50%;
  margin-left: 5px;
  transition: 0.3s;
}

.search:hover {
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}
