<header>
  <div class="header wrap">
    <div class="header__logo">
      <a [routerLink]="['/']"><img src="../../../assets/img/logo2.png" alt="logo" /></a>
    </div>
    <nav>
      <ul>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a [routerLink]="['/']">Главная</a>
        </li>
        <li routerLinkActive="active"><a [routerLink]="['/catalog']">Каталог</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/contacts']">Контакты</a></li>
        <li>
          <label class="switch">
            <input (click)="auth.checkAuth()" class = "checkTheme" type="checkbox">
            <span class="slider round"></span>
          </label>
        </li>
        <li (click)="createCart.emit()">
          <span>
            <object
              type="image/svg+xml"
              data="../../../assets/img/shopping-cart.svg"
              width="20px"
              height="20px"
            ></object>
          </span>
        </li>
        <li>{{this.quantityProduct}}</li>
      </ul>
    </nav>
  </div>
  <div class="header__img"></div>
</header>
